*{
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family:'lato', sans-serif;
    background-color: #BBE1FA;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body, h2, a {
  margin: 0;
  padding: 0;
}

/* dialog-login starts */
/* Modal Styles  */
    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); 
      z-index: 2; 
    }

    .modal-content {
      position: absolute;
      width: 25%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    }

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer;
    }

    /* Blurred Background Styles */
    .blur-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5px); 
      z-index: 1; 
    }

    /* Rest of your existing styles can go here */
    .form-box{
      width: 380px;
      height: 50%;
      border-radius: 50px;
      position:relative;
      margin: 10% auto;
      background: #fff;
      padding: 5px;
      overflow: hidden;
    }

    .modal h3{
      text-align: center;
      color: #666;
    }


    .input-group{
      margin: 10%;
      padding-top:20px;
      position: relative;
      width: 280px;
      transition: .5s;
      color: #666;
    }

    .input-field{
      width: 100%;
      padding: 10px;
      margin:5px 0px 10px 0px;
      border-left: 0;
      border-top: 0;
      border-right: 0;
      border-bottom: 1px solid #999;
      outline:none;
      background-color: transparent;
    }

    .submit-btn{
      width:85%;
      padding: 10px 30px;
      cursor:pointer;
      display:block;
      margin:auto;
      background: radial-gradient(788px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(255, 255, 255) 90%);
      border:0;
      outline:none;
      border-radius: 30px;
      
    }
    .submit-btn:hover{
      background: radial-gradient(788px at 0.7% 3.4%, rgb(52, 118, 80) 0%, rgb(134, 148, 132) 90%);
      color: #eee;
    }
    .check-box{
      margin:30px 10px 30px 0px;
    }
    .rem_pass{
      color:#777;
      font-size: 12px;
      bottom: 68px;
      position:absolute;
    }
    #login-button,#openaccount-button{
      padding: 10px 15px ;  
      border-radius: 10px;
      background: #94dbe7;
      box-shadow:inset;
    }
    a{
      text-decoration: none;
      color:#000;
    }
/* login ends */

/* 
    titanium yellow: #ecea09;
    french skyblue : #8398f9
    dark yellow: #969311
    blasr off bronze: #9e7164
    dark vannila: #c8c3a8
    rifel green : #44512e
*/
/* navigation bar */
.navi {
  position: fixed;
  color: white;
  background-color:  #78290F;
  padding: 0 3rem;
  display: flex;
  justify-content:space-evenly;
  float: left;
  align-items: center;
  height: 6rem;
  width: 100%; 
  
}

/* Styling the navigation links */
.navi nav {
  display: flex;
  align-items: center;
}

#a1,#a2{
  padding-right: 20px;
}

.navi a , .ha a{
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  margin-left: 15px;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.navi a:hover {
  color: #ffffff;
  border-radius: 10px;
  transition: 0.5s;
  transform: scale(1.1);
}
#a1:hover , #a2:hover{
  color: #ffffff;
  transition: 0.5s;
  transform: scale(1.1);
}

/* Styling the header */
.header {
  background-color: #FFECD1;
  width: 100%;
  display: inline-block;
  position:static;
  padding: 0 3rem;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  z-index: 100;
}
table {
  border-collapse: collapse;
  margin-top: 10%;
  padding: 0;
}
td {
  border: none;
  padding: 50px;
  padding-bottom:100px;
}

.s1{
  animation: slidein-left 3s 1;
}
.s2{
  animation: animate-image 3s 1;
}

@keyframes slidein-left {
  0% {
    left: 100%;
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    left: 0%;
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes animate-image {
  0% {
    right: 100%;
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    right: 0%;
    opacity: 1;
    transform: translateX(0%);
  }
}
/* styling body */
h1 {
  padding-top: 15px;
  font-size: 10rem;
  line-height: 1.6;
  color: #fff;
}
.header_title {
  padding: 0 3rem;
  max-width: 115rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10%;
  align-items:center;
  gap: 1.5rem;
  background-color: #FFECD1;
}

.header_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header_img {
    border-radius: 20px;
}

h1 {
  font-size: 3rem;
  line-height: 1.4;
  color:#0F4C75;
}

/* all sections */
.section {
  padding: 10rem 3rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
  background-color: #BBE1FA;
}

.sec_desc {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #0F4C75;
  /* color: rgb(51, 167, 51); */
  margin-bottom: 1rem;
}

.sec_head {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 500;
  color:#1B262C;
}

p {
  font-size: 20px;
  color:#1B262C;
}
/* carousel */

.container{
  width:100%;
  margin: 10px 10px;
  color: #ffffff;
  position: static;
  background-color: #3282B8;
}

.carousel{
  /* border:2px solid #ffffff; */
  height:400px;
  /* width: 100%; */
  position:relative;
  overflow: hidden;
  color: #ffffff;
  background-color: #3282B8;
}
.slider{
  height:100%;
  display: flex;
  width: 500%;
  transition: all 0.3s;
  color: #ffffff;
  background-color: #3282B8;
}
.slider section{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #3282B8;
}
.slider section p{
  color:whitesmoke;
}
.controls ul{
  position: absolute;
  bottom: 20px;
  left:50%;
  transform: translate(-50%);
  list-style: none;
  display:flex;
  padding:0;
  color: #ffffff;
  margin:0;
}

.controls ul li{
  width: 14px;
  height: 14px;
  border-radius: 50px;
  border: 2px solid white;
  margin:10px;
  background:white;
  color: #ffffff;
  cursor: pointer;
}
.controls ul li.selected{
  background: #FF7D00;
}
/* carousel end */

.sec_head div {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background-color: #555;
}

/* section cards */
.panel {
  width: 50%;
  height: 50% ;
  margin: 20px auto;
  padding: 20px;
  /* border: 1px solid #3282B8; */
  box-shadow: 0 2px 4px #3282b800;
  background-color: #3282B8;
  border-radius: 8px;
}
.panel h3,p, ul,li{
  color:#fff;

}
.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  /* background-color: #ff7b00b9; */
  background-color: #FF7D00;
}
.credit-card-content, .debit-card-content {
  font-weight: 500;
  padding: 15px;
  display: none;
  margin-top: 20px;
}
.credit-card-content ul li, .debit-card-content ul li{
  list-style:lower-roman;
  padding: 10px;
  animation: slide-in-left 1s ease-in-out 1;
  color:#ffffff;
}
#apply-button {
  float:inline-start;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* section loans */
h4{
  font-size: 1.5rem;
  font-weight:500;
  color:#1B262C;
}
.interest{
    padding: 40px 55px;
    width: 80%;
    background: #ff7b00b9;
    box-shadow: 0 10px 50px #d8632b40;
    border-radius: 50px 50px 50px 50px;
    margin-left:9%;
    margin-bottom: 15%;
    margin-top:10%;
    /* top:2500px; */
    position: relative;
}
.interest ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.interest ul li{
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
}
.interest ul li img{
  height: 120px;
  object-fit: contain;
  width: 120px;
  margin-bottom: 15px;
  transition: 0.7s all ease 0s;
}
.interest p,h3{
  color:#000;
}
.interest ul li img:hover{
  transform: scale(1.1);
}
.loan_desc{
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  /* color: ; */
  margin-bottom: 1rem;
}

/* styling footer */
.foot{
  padding: 5rem 3rem;
  background-color: #1B262C;
  /* background-color: #0355a8; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

/* styling footer links */


.footer_nav a, .footer_nav p{
  text-decoration: none;
  padding: 25px;
  display: inline-block;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  margin-right: 15px;
  border-radius: 10px;
  font-size: 18px;
}
.footer_nav li{
  display: inline-flex;
  padding: 10px 10px 0 0;
  margin-right: 20px;
  color:white;
}

.footer_nav a:hover{
  color:#ffffff;
  transition: 0.7s;
  transform: scale(1.1);
}
.bi-instagram:hover{
  color:#d62976 ;
  transform: scale(1);
}
.bi-facebook:hover{
  color:#3b5998;
  transform: scale(1);
}
.bi-twitter:hover{
  color:#00acee;
  transform: scale(1);
}
.bi-linkedin:hover{
  color: #0072b1;
  transform: scale(1);
}
i{
  padding-right: 30px;
}

/* colors
    #FF7D00 -- orange
    #78290F -- brown
    #FFECD1 -- cream white
    #15616D -- light blue shade
    #001524 -- dark blue shade  
*/

/* Media Query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .container {
      margin: 5px;
  }
  .carousel {
      height: 300px;
  }
  .header h1 {
      font-size: 6rem;
  }
  .section {
      padding: 5rem 3rem;
  }
  .panel {
      width: 80%;
  }
  .button-container {
      flex-direction: column;
  }
  .button {
      width: 100%;
  }
  .credit-card-content, .debit-card-content {
      display: block;
  }
  .interest ul li img {
      height: 80px;
      width: 80px;
  }
  .foot {
      padding: 5rem 3rem;
  }
  .footer_nav a {
      padding: 10px;
  }
}

/* Media Query for screens with a maximum width of 480px */
@media (max-width: 480px) {
  .container {
      margin: 3px;
  }
  .carousel {
      height: 200px;
  }
  .header h1 {
      font-size: 4rem;
  }
  .section {
      padding: 3rem;
  }
  .panel {
      width: 90%;
  }
}
